<html>
<head>
<title>TCMS >> 500 (Service Error)</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/style/base.css" />

</head>
<body>
  <div class="error_404_500">
    <img src="{{ MEDIA_URL }}/images/500.png" width="" height="" alt="">
    <div class="radius error_content">
        <ul>
            <li>Sorry, This is a service error.</li>
            <li>1.Please check your operation , try it again;</li>
            <li>2.You can contact the administrator or developer.</li>
             <li>  <a href="javascript:history.go(-1)">GO BACK</a></li>
         </ul>
    </div>

</div>
</body>
</html>