<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block subtitle %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="utf-8" />
	<link rel="Shortcut Icon" href="{{ MEDIA_URL }}/images/favicon.png" />
	<link rel="icon" href="{{ MEDIA_URL }}/images/animated_favicon.gif" type="image/gif" >
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/base.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/print.css" media="print" />
	{% block custom_stylesheet %}{% endblock %}
	<script type="text/javascript" src='{{ MEDIA_URL }}/js/lib/livepipe/lib/prototype.js'></script>
	<script type="text/javascript" src='{{ MEDIA_URL }}/js/lib/livepipe/lib/scriptaculous.js'></script>
	<script type="text/javascript" src='{{ MEDIA_URL }}/js/lib/livepipe/src/livepipe.js'></script>
	<script type="text/javascript" src='{{ MEDIA_URL }}/js/tcms_actions.js'></script>
	{% block custom_javascript %}{% endblock %}
</head>
<body id="body">
	{% comment %}
	Debug snippet adapted from http://www.djangosnippets.org/snippets/93/

	You must do the following:
	1.	Have 'django.core.context_processors.debug' in your TEMPLATE_CONTEXT_PROCESSORS setting (it was there in the default settings, last time I checked).
	2. Have your current IP in your INTERNAL_IPS setting.
	3. Use RequestContext when rendering the current template (if you're using a generic view, you're already using RequestContext).

	Legal information from that site:

	I hate legal-speak as much as anybody, but on a site which is geared toward sharing code there has to be at least a little bit of it, so here goes:

	By creating an account here you agree to three things:

	1. That you will only post code which you wrote yourself and that you have the legal right to release under these terms.
	2. That you grant any third party who sees the code you post a royalty-free, non-exclusive license to copy and distribute that code and to make and distribute derivative works based on that code. You may include license terms in snippets you post, if you wish to use a particular license (such as the BSD license or GNU GPL), but that license must permit royalty-free copying, distribution and modification of the code to which it is applied.
	3. That if you post code of which you are not the author or for which you do not have the legal right to distribute according to these terms, you will indemnify and hold harmless the operators of this site and any third parties who are exposed to liability as a result of your actions.

	If you can't legally agree to these terms, or don't want to, you cannot create an account here.

	{% endcomment %}
	{% if debug %}
	<div id="debug">
		<p>
			{{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
			{% ifnotequal sql_queries|length 0 %}
			(<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
			{% endifnotequal %}
		</p>
		<table id="debugQueryTable" style="display: none;">
			<tr class="odd">
				<td>#</td>
				<td>SQL</td>
				<td>Time</td>
			</tr>
			{% for query in sql_queries %}
			<tr class="{% cycle odd,even %}">
				<td>{{ forloop.counter }}</td>
				<td>{{ query.sql|escape }}</td>
				<td>{{ query.time }}</td>
			</tr>{% endfor %}
		</table>
	</div>
	{% endif %}
	<div id="header">
			<div class="logo">
				<a href="{% url tcms.core.views.index %}"><img  src="{{ MEDIA_URL }}/images/logo_shipshape_1.png" alt="logo" /></a>
			</div>
			<div class="absoluteright">
				<label>
					{% if user.is_authenticated %}
					Welcome, {{ user }}.
					{% if AUTH_BACKEND.can_logout %}
					<a href="{% url tcms.core.contrib.auth.views.logout %}?next={{ request.path }}">Logout</a>
					{% endif %}
					{% else %}
					Welcome, Guest.
					{% if AUTH_BACKEND.can_login %}
					<a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}" class="banner_login">Login</a>
					{% endif %}
					{% if AUTH_BACKEND.can_register %}
					<a href="{% url tcms.core.contrib.auth.views.register %}?next={{ request.path }}" class="banner_login">Register</a>
					{% endif %}
					{% endif %}
				</label>
			</div>
			{% include 'menu.html' %}
		
	</div>
	{% block contents %}{% endblock %}
    <div id="dialog" style="display:none"><div class="ajax_loading"></div></div>
	<div id="footer">
		{% if SETTINGS.FOOTER_LINKS %}
    	<div class="footercontent">
			{% for link in SETTINGS.FOOTER_LINKS %}
			<a href="{{ link.0 }}">{{ link.1 }}</a>{% if not forloop.last %}|{% endif %}
			{% endfor %}
        </div>
		{% endif %}
		<div class="center"><span>Nitrate NITRATE_VERSION  © 2009 Red Hat, Inc. All rights reserved.</span></div>
	</div>
    
</body>
</html>
