{% load pagination_tags %}

<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/fastinit.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/tablekit.js"></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/testrun_actions.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/management_actions.js'></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>

<form id='runs_form'>
	{% autopaginate test_runs %}
	<div id="contentTab" class="mixbar">
		{# <span class="tit">{{ test_runs.count }} Test Runs</span> #}
		<span class="tit"><a href="{% url tcms.testruns.views.all %}?case_run__assignee={{ user.email }}">View My Assigned Runs</a></span>
		<input type="button" value="Clone" title="clone selected test runs" onclick="postToURL('{% url tcms.testruns.views.clone %}', this.form.serialize(true), 'get')" />
		
		<span class="right-action">
			{% paginate %}
			{% comment %}
			<label for="run_column_add">Add Column</label>
			<select id="run_column_add">
				<option value="" id="">---</option>
				<option value="col_plan" id="col_plan_option">Plan</option>
			</select>
			{% endcomment %}
		</span>
	</div>
	{% include "run/common/run_filtered.html" %}
	{% paginate %}
</form>
