<div class="leftlistinfo">
<div class="listinfo">
	<div class="title"><label for="id_summary">Case Summary</label></div>
	<div class="setinput"><input type="text" name="summary__icontains" value="{{ REQUEST_CONTENTS.summary__icontains }}" /></div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_author">Author</label></div>
	<div class="setinput"><input type="text" name="author__email__startswith" value="{{ REQUEST_CONTENTS.author__email__startswith }}" /></div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_product">Product</label></div>
	<div class="setinput"><select id="id_category__product__pk" name="category__product__pk"></select></div>
</div>


<div class="listinfo">
	<div class="title"><label for="id_plan">Plan Name</label></div>
	<div class="setinput"><input type="text" name="plan__name__icontains" value="{{ REQUEST_CONTENTS.plan__name__icontains }}" /></div>
</div>
<div class="listinfo_liinline">
	<div class="title"><label for="id_priority">Priority</label></div>
	<div class="setinput"><select id="id_priority__pk" name="priority__pk"></select></div>
</div>
<div class="listinfo_liinline">
		<span class="title">Automated</span>
		<input type="checkbox" name="is_automated" value="0" {% if REQUEST_CONTENTS.is_automated %}selected{% endif %} />
		<label>Manual</label>
		<input type="checkbox" name="is_automated" value="1" {% if REQUEST_CONTENTS.is_automated %}selected{% endif %} />
		<label>Auto</label>
		<div class="automatedlist">
		<input type="checkbox" name="is_automated_proposed" value="1" {% if REQUEST_CONTENTS.is_automated_proposed %}selected{% endif %} />
		<label>Autoproposed</label>
		</div>
	</div>
</div>


<div class="rightlistinfo">
<div class="listinfo">
	<div class="title"><label for="id_category">Category</label></div>
	<div class="setinput"><select id="id_category__pk" name="category__pk"></select></div>
</div>

<div class="listinfo_liinline">
	<div class="title"><label for="id_case_status">Status</label></div>
	<div class="setinput"><select id="id_case_status__pk" name="case_status__pk"></select></div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_component">Component</label></div>
	<div class="setinput"><select id="id_component__in" name="component__in"></select></div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_bug_id">Bug ID</label></div>
	<div class="setinput"><input type="text" name="case_bug__bug_id__in" value="{{ REQUEST_CONTENTS.case_bug__bug_id__in }}" /></div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_tag">Tag</label></div>
	<div class="setinput"><input type="text" name="tag__name__in" value="{{ REQUEST_CONTENTS.tag__name__in }}" /></div>
</div>
	{% if error_messages %}
	<div class="setinput">{{ error_messages }}</div>
	{% endif %}
</div>
