<div class="leftlistinfo">
<div class="listinfo">
	<div class="title"><label for="id_summary">Case Summary</label></div>
	<div class="setinput">{{ search_form.summary }}{{ search_form.summary.errors }}</div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_author">Author</label></div>
	<div class="setinput">{{ search_form.author }}{{ search_form.author.errors }}</div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_product">Product</label></div>
	<div class="setinput">{{ search_form.product }}{{ search_form.product.errors }}</div>
</div>


<div class="listinfo">
	<div class="title"><label for="id_plan">Plan</label></div>
	<div class="setinput">{{ search_form.plan }}{{ search_form.plan.errors }}</div>
</div>
<div class="listinfo_liinline">
	<div class="title"><label for="id_priority">Priority</label></div>
	<div class="setinput">{{ search_form.priority }}{{ search_form.priority.errors }}</div>
</div>
<div class="listinfo_liinline">
		<span class="title">Automated</span>
		{{ search_form.is_automated }}
        <div class="automatedlist">
		{{ search_form.is_automated_proposed }}
		<label>{{ search_form.is_automated_proposed.label }}</label>
        </div>
	</div>

</div>


<div class="rightlistinfo">
<div class="listinfo">
	<div class="title"><label for="id_category">Category</label></div>
	<div class="setinput">{{ search_form.category }}{{ search_form.category.errors }}</div>
</div>

<div class="listinfo_liinline">
	<div class="title"><label for="id_case_status">Status</label></div>
	<div class="setinput">{{ search_form.case_status }}{{ search_form.case_status.errors }}</div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_component">Component</label></div>
	<div class="setinput">{{ search_form.component }}{{ search_form.component.errors }}</div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_bug_id">Bug ID</label></div>
	<div class="setinput">{{ search_form.bug_id }}{{ search_form.bug_id.errors }}</div>
</div>
<div class="listinfo">
	<div class="title"><label for="id_tag">Tag</label></div>
	<div class="setinput">{{ search_form.tag__name__in }}{{ search_form.tag__name__in.errors }}</div>
</div>
	<div class="setinput">{{ search_form.errors }}</div>
</div>
