include AUTHORS
include ChangeLog
include nitrate.spec
recursive-include tcms/templates *
recursive-include tcms/static *
recursive-include contrib *
recursive-include docs *
recursive-include requirements *
