<div>
	<form id="run_filter">
	<ul>
		<li>ID: <input type="text" name="run_id"></li>
		<li>Summary: <input type="text" name="summary__icontains"/></li>
		<li>Build:
			<select name="build">
				<option value="">--</option>
				{% for build in test_plan.product.build.all %}
				<option value="{{build.build_id}}">{{build.name}}</option>
				{% endfor %}
			</select>
		</li>
		<li>Manager: <input type="text" name="manager__username__iexact"/></li>
		<li>Default Tester: <input type="text" name="default_tester__username__iexact"/> </li>
		<li>Started Since: <input type="text" name="start_date__gt" class="vDateField"/> </li>
		<li>Items Per Page: <input type="text" name="page_size" value="20"/></li>
		<li><a href="#reload" id="reload_runs">Reload</a></li>
		<input type="hidden" name="page_num" value="1"/>
	</ul>
	</form>
</div>

<form id='id_form_run' action="{% url tcms.apps.testruns.views.clone %}" method="get">
	<input type="hidden" name="from_plan" value="{{ test_plan.pk }}" />
	<input type="hidden" name="product" value="{{ test_plan.product.pk }}" />
	<input type="hidden" name="product_version" value="{{ test_plan.get_version_id }}" />
	{% if perms.testruns.add_testrun %}
	<div class="mixbar actions">
		<div class='marginLeft'>
		<input class="clone icon_plan" type="submit" value="Clone" title="clone selected test runs" />
		</div>
	</div>
	{% endif %}
	<table class="list" id="testruns_table" cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th class="nosort" width="30"><input id='id_check_all_runs' type="checkbox" title="Select all/Select none" /></th>
				<th align="left" class="number widthID">ID</th>
				<th align="left" class="text">Test Run Summary</th>
				<th align="left" width="80" class="text" >Manager</th>
				<th align="left" width="120" class="text" >Default Tester</th>
				<th align="left" width="150" class="date-iso" >Start date</th>
				<th align="left" width="130" class="number">Build</th>
				<th align="center" width="70" class="text" >Status</th>
				<th align="left" width="50" class="number">Cases</th>
				<th align="left" width="110" class="number" >Failure</th>
				<th align="left" width="110" class="number" >Success</th>
			</tr>
		</thead>
		<tbody id="testruns_body"></tbody>
	</table>
	<div id="img_loading_runs" class="ajax_loading" style="display:none;"></div>
	<div>
		<a href="#show_more_runs" id="show_more_runs" 
						plan="{{test_plan.pk}}"
						page="1"
						ended="no">Show More</a>
	</div>
</form>
