{% load ifin %}
{% load comments %}
<form action="{% url tcms.testcases.views.all %}" method="get">
	<input type="hidden" name="template_type" value="review_case" />
	<input type="hidden" name="case_sort_by" value="{{ REQUEST_CONTENTS.case_sort_by }}" />
	<input type="hidden" name="plan" value="{{ REQUEST_CONTENTS.from_plan }}" />
	<input type="hidden" name="from_plan" value="{{ REQUEST_CONTENTS.from_plan }}" />
	<input type="hidden" name="template_type" value="{{ REQUEST_CONTENTS.template_type }}" />
	<div class="tab_navigation">
		<div class="actions whitelink">
			{% if perms.testcases.add_testcase %}
			<label>New Case :</label>
			<input class="add_new" type="button" value="Write new case" onclick="window.location.href='{% url tcms.testcases.views.new %}?from_plan={{ test_plan.plan_id }}';"/>
			|
			<input type="button" class="import" value="Import cases from XML" onclick="$('id_import_case_zone').toggle();" />
			|
			<input type="button" class="search" value="Add cases from other plans" onclick="window.location.href='{% url tcms.testplans.views.cases test_plan.plan_id %}?a=link_cases'" />
			{% else %}
			<label>New Case :</label>
			<input class="add_new" type="button" disabled="true" value="Write new case"/>
			|
			<input type="button" class="import" disabled="true" value="Import cases from XML"	/>
			|
			<input type="button" class="search" disabled="true" value="Add cases from other plans"	 />
			{% endif %}
			<span class="reorder_case">
				<a class="btn_filter filtercase" title="Click to show filter options">Show filter options</a>
				{% if perms.testcases.change_testcase %}
				<a class="btn_sort sortlink" title="Click me,then Drag and drop the rows to adjust the order,and click 'Done Sorting' link to submit your changes">Re-order cases</a>
				{% endif %}
			</span>
		</div>
	</div>
	<div class="mixbar">
		<div class="actions">
			| New: 
			{% comment %}
			{% if perms.testreviews.add_testreview %}
			<input type="button"  title="Make new review from selected cases" class="new_review" value="Review" onclick="var p = serialzeCaseForm(this.up(2), this.up(2).next()); postToURL('{% url tcms.testreviews.views.new test_plan.plan_id %}', p, 'get');" />
			{% else %}
			<input type="button" title="Make new review from selected cases" class="new_review" value="Review" disabled="true" />
			{% endif %}
			{% endcomment %}
			
			{% if perms.testruns.add_testrun %}
			<input type="button" class="new_run" title="Make new test run from selected cases" value="Run" onclick="var p = serialzeCaseForm(this.up(2), this.up(2).next()); postToURL('{% url tcms.testruns.views.new %}', p, 'get');" />
			{% else %}
			<input type="button" class="new_run" title="Make new test run from selected cases" value="Run" disabled="true" />
			{% endif %}
			|
			Case(s):
			<input type="button" class="export" title="Export selected cases into XML file" value="Export" onclick="postToURL('{% url tcms.testcases.views.export %}', serialzeCaseForm(this.up(2), this.up(2).next()));" />
			<input type="button" class="print_view" value="Print"  title="print view of selected cases" onclick="postToURL('{% url tcms.testcases.views.printable %}', serialzeCaseForm(this.up(2), this.up(2).next()));" />
			
			{% if perms.testcases.add_testcase %}
			<input type="button" class="clone" value="Clone" title="Clone selected cases to another test plan" onclick="postToURL('{% url tcms.testcases.views.clone %}', serialzeCaseForm(this.up(2), this.up(2).next()), 'get');" />
			{% else %}
			<input type="button" class="clone" value="Clone" title="Clone selected cases to another test plan" disabled="true"/>
			{% endif %}
			
			{% if perms.testcases.delete_testcaseplan %}
			<input type="button" class="delete" value="Remove" title="Remove selected cases from this plan" onclick="unlinkCasePlan(this.up(3), serialzeCaseForm(this.up(2), this.up(2).next()));" />
			{% else %}
			<input type="button" class="delete" value="Remove" title="Remove selected cases from this plan" disabled="true"/>
			{% endif %}
			|
			
			Tag:
			
			{% if perms.testcases.add_testcasetag %}
			<input type="button" value="Add" class="tag_add sprites" />
			{% else %} 
			<input type="button" value="Add" class="tag_add_disabled sprites" disabled="disabled" />
			{% endif %}
			
			{% if perms.testcases.delete_testcasetag %}
			<input type="button" value="Remove" class="tag_delete sprites" /> |
			{% else %}
			<input type="button" value="Remove" class="tag_delete_disabled sprites" disabled="disabled" /> |
			{% endif %}
			
			{% if perms.testcases.change_testcase %}
			
			<input type="button" value="Automated" title="change automated" class="btn_automated automated sprites" />
			<input type="button" value="Default tester" title="change default tester" class="btn_default_tester assignee sprites" />
			<input type="button" value="Component" class="btn_component sprites component" />
			{% else %}
			<input type="button" value="Automated" title="change automated" class="btn_automated automated_disabled sprites" disabled="Trues" />
			<input type="button" value="Default tester" title="change default tester" class="btn_default_tester assigneedisable sprites" disabled />
			<input id="id_batch_component" type="button" value="Component" class="btn_component sprites component_disabled" disabled="disabled"/>
			{% endif %}
			
			{% if perms.testcases.change_testcase %}
			<select name="new_case_status_id" id="new_case_set_status">
				<option title="please choose a status" value="">Set status</option>
				{% for case_stat in case_status %}
				<option value="{{ case_stat.id }}" title="Set selected test cases {{ case_stat.name }}">{{ case_stat.name }}</option>
				{% endfor %}
			</select>
			<select name="new_priority_id">
				<option title="please choose a priority" value="">Set priority</option>
				{% for priority in priorities %}
				<option value="{{ priority.id }}">{{ priority.value }}</option>
				{% endfor %}
			</select>
			{% else %}
			<select name="new_case_status_id" disabled>
				<option title="please choose a status" value="">Set status</option>
			</select>
			<select name="new_priority_id" disabled>
				<option title="please choose a priority" value="">Set priority</option>
			</select>
			{% endif %}
		</div>
		<div class="mixbar_tag">
			<div class="tagname">Tags:</div>
			<div class="taglist">
				{% for tag in case_own_tags %}
				<a href="#testcases">{{ tag }}</a>
				{% empty %}
				<div class="grey">No tags in cases</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="list_filter" {% ifnotequal REQUEST_CONTENTS.a 'search' %} style="display:none;" {% endifnotequal %}>
		{% include 'case/form/filter.html' %}
		<div class="submit-row bottom">
		<span class="tit">{{ test_cases|length }} Cases</span>
			<input type="submit" value="Filter cases" />
		</div>
	</div>
</form>
<table class="list" cellpadding="1" cellspacing="0" border="0">
	<thead>
		<tr>
			<th class="nosort" align="left" width="18px">
				<a class="blind_all_link" href="javascript:blinddownAllCases()">
					<img src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="">
				</a>
			</th>
			<th class="nosort" align="left" width="20px">
				<input type="checkbox" value="all" checked />
			</th>
			<th align="left" width="50px">
				<a title="Sort by case ID" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'case_id')">
					#
				</a>
			</th>
			<th align="left">
				<a title="Sort by Summary" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'summary')">
					Test Case Summary
				</a>
			</th>
			<th align="left" width="90px">
				<a title="Sort by Author" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'author')">
					Author
				</a>
			</th>
			<th align="left" width="110px">
				<a title="Sort by Default Tester" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'default_tester')">
					Default Tester
				</a>
			</th>
			<th align="left" width="140px">
				<a title="Sort by automated" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'is_automated')">
					Automated
				</a>
			</th>
			<th align="left" width="120px">
				<a title="Sort by status" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'case_status')">
					Status
				</a>
			</th>
			<th align="left" width="100px">
				<a title="Sort by categoty" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'category__name')">
					Category
				</a>
			</th>
			<th align="left" width="60px">
				<a title="Sort by prority" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'priority')">
					Priority
				</a>
			</th>
			<th align="left" width="80px" style="display:none">Text version</th>
			<th align="left" width="40px">
				<a title="Sort by sortkey" href="#testcases" onclick="sortCase(this.up(4), '{{ test_plan.plan_id }}', 'sortkey')">
					Sort
				</a>
			</th>
			<th align="left" width="55px">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for test_case in test_cases %}
		<tr class="case_title {% cycle 'odd' 'even' %}" >
			<td class="expandable">
				<img class="collapse blind_icon" src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="">
			</td>
			<td>
				<input type="checkbox" name="case" value="{{ test_case.pk }}" class="checkbox" {% ifin test_case.pk selected_case_ids %}checked{% endifin %} />
			</td>
			<td>
				<a href="{% url tcms.testcases.views.get test_case.case_id %}?from_plan={{ test_plan.plan_id }}">{{ test_case.pk }}</a>
			</td>
			<td class="subject expandable">
				<a class="blind_down_link">{{ test_case.summary }}</a>
			</td>
			<td class="col_author_content"><a title="Send email to {{ test_case.author.email }}" href="mailto:{{ test_case.author.email }}">{{ test_case.author }}</a></td>
			<td class="col_author_content"><a title="Send email to {{ test_case.defaulte_tester.email }}" href="mailto:{{ test_case.author.email }}">{{ test_case.default_tester }}</a></td>
			<td class="col_tester_content expandable">{{ test_case.get_is_automated_status }}</td>
			<!-- <td >{{ testcase.create_date }}</td>-->
			<td>
				{% if perms.testcases.change_testcase %}
				<a class="show_change_status_link" href="javascript:void(0);" onclick="this.hide(); this.next().show()" style="display: none;">
					{{ test_case.case_status }}
				</a>
				<select class="change_status_selector">
					{% for case_stat in case_status %}
					<option {% ifequal case_stat.pk test_case.case_status_id %} selected="1" {% endifequal %} value="{{ case_stat.id }}">{{ case_stat.name }}</option>
					{% endfor %}
				</select>
				{% else %}
				{{ testcase.case_status }}
				{% endif %}
			</td>
			<td class="col_priority_category expandable">{{ test_case.category }}</td>
			<td class="col_priority_content expandable" align="center">{{ test_case.priority }}</td>
			<td valign="top" width="8%" class="col_category_content expandable" style="display:none">{{ test_case.category }}</td>
			<td class="col_sortkey_content" align="center">
				<a href="javascript:void(0);" class="mark case_sortkey">{{ test_case.sortkey }}</a>
			</td>
			<td align="center" >
				{% if perms.testcases.change_testcase %}
				<a class="editlink" href="{% url tcms.testcases.views.edit test_case.case_id %}?from_plan={{ test_plan.plan_id }}">Edit</a>
				{% else %}
				<span class="editlink grey">Edit</span>
				{% endif %}
			</td>
		</tr>
		<tr class="case_content hide" style="display: none;">
			<td colspan="12">
				<div id="id_loading_{{ test_case.pk }}" class="ajax_loading"></div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="12">
				<center class="prompt-message prompt">No test case was found in this plan.</center></span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
