<div class="treeview_toolbar">
	<div class="treeview_tools">
	<span class="node_edit sprites">Change Parent Node</span>
    <span class="node_add sprites">Add Child Node</span>
    </div>
	<div class="treeview_toolbar_text">
	Only displayed following items in the tree
	<ul>
		<li>Current plan</li>
		<li>One level parent plan</li>
		<li>The plans with same parent</li>
		<li>One level children plans</li>
	</ul>
    </div>
</div>

<div id="id_tree_container">
	<div class="ajax_loading"></div>
</div>