<div>
	<form id="run_filter">
	<div class="leftlistinfo">
		<div class="listinfo">
			<div class="title">ID&nbsp;:</div>
		 	<div class="listinfo_input"><input type="text" name="run_id"></div>
			<div class="listinfo">
				<div class="title">Summary&nbsp;:</div>
			 	<div class="listinfo_input"><input type="text" name="summary__icontains"/></div>
			</div>
			<div class="listinfo">
				<div class="title">Build&nbsp;:</div>
			 	<div class="listinfo_input">
					<select name="build">
						<option value="">--</option>
						{% for build in test_plan.product.build.all %}
						<option value="{{build.build_id}}">{{build.name}}</option>
						{% endfor %}
					</select>
			 	</div>
			</div>
			<div class="listinfo">
				<div class="title">Manager&nbsp;:</div>
				<div class="listinfo_input"><input type="text" name="manager__username__iexact"/></div>
			</div>
			<div class="listinfo">
				<div class="title"></div>
				<div class="listinfo_input"><button id="reload_runs">Reload</button></div>
				<input type="hidden" name="page_num" value="1"/>
				<input type="hidden" name="plan" value="{{test_plan.pk}}"/>
			</div>
		</div>
	</div>
	<div class="rightlistinfo">
		<div class="listinfo">
			<div class="title">Default Tester&nbsp;:</div>
		 	<div class="listinfo_input"><input type="text" name="default_tester__username__iexact"/></div>
			<div class="listinfo">
				<div class="title">Started Since&nbsp;:</div>
			 	<div class="listinfo_input"> <input type="text" name="start_date__gt" class="vDateField"/> </div>
			</div>
			<div class="listinfo">
				<div class="title">Items Per Page&nbsp;:</div>
			 	<div class="listinfo_input">
			 		<select name="page_size">
			 			<option value="20">20</option>
			 			<option value="50">50</option>
			 			<option value="100">100</option>
			 		</select>
			 	</div>
			</div>
		</div>
	</div>
	</form>
</div>

<form id='id_form_run' action="{% url tcms.apps.testruns.views.clone %}" method="get">
	<input type="hidden" name="from_plan" value="{{ test_plan.pk }}" />
	<input type="hidden" name="product" value="{{ test_plan.product.pk }}" />
	<input type="hidden" name="product_version" value="{{ test_plan.get_version_id }}" />
	{% if perms.testruns.add_testrun %}
	<div class="mixbar actions">
		<div class='marginLeft fixed'>
			<input class="clone icon_plan left_float" type="submit"
				value="Clone" title="clone selected test runs"/>
			<span id="box_select_rest" style="display:none;" class="tips"><input type="checkbox" name="filter_str"/>
				Also select the rest <span>0</span> page(s)</span>
			<input class="progress icon_plan" type="button"
				value="Calculate Progress" id="btn_selected_progress"
				title="calculate progress of selected test runs"/>
		</div>
	</div>
	{% endif %}
	<table class="list" id="testruns_table" cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th class="nosort" width="30"><input id="id_check_all_runs" type="checkbox" title="Select all/Select none"/></th>
				<th align="left" class="number widthID">ID</th>
				<th align="left" class="text">Test Run Summary</th>
				<th align="left" width="80" class="text" >Manager</th>
				<th align="left" width="120" class="text" >Default Tester</th>
				<th align="left" width="150" class="date-iso" >Start date</th>
				<th align="left" width="130" class="number">Build</th>
				<th align="center" width="70" class="text" >Status</th>
				<th align="left" width="50" class="number">Cases</th>
				<th align="left" width="110" class="number" >Failure</th>
				<th align="left" width="110" class="number" >Success</th>
			</tr>
		</thead>
		<tbody id="testruns_body"></tbody>
	</table>
	<div id="img_loading_runs" class="ajax_loading" style="display:none;"></div>
	<div class="cases-pagination show-more-cases">
		<a href="#show_more_runs" id="show_more_runs" 
						plan="{{test_plan.pk}}"
						page="1"
						ended="no">Show More</a>
	</div>
</form>
