<form id="id_form_plan_components" action="{% url tcms.testplans.views.component %}" method="post">
	<table class="list">
		<thead>
			<tr>
				<th><input type="checkbox" >
				<th>Component</th>
				<th>Product</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for component in test_plan.component.all %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><input type="checkbox" name="component" value="{{ component.pk }}" /></td>
				<td>{{ component }}</a></td>
				<td>{{ component.product }}</td>
				<td><a class="link_remove_plan_component" href="javascript:void(0)">Remove</a></td>
			</tr>
			{% empty %}
			<tr><td colspan="5" align="center"><span class="grey">No component defined.</span></td></tr>
			{% endfor %}
			{% if perms.testplans.change_testplancomponent %}
			<tr>
				<td colspan="3">
					<input type="hidden" name="plan" value="{{ test_plan.pk }}" />
					<input type="button" value="Update components" onclick="constructPlanComponentModificationDialog()">
					<input type="submit" name="a" value="Remove" />
					{% comment %}
					<form action="{% url tcms.testplans.views.component %}">
						<span class="tit">Add attachment</span>
						<input type="hidden" name="plan" value="{{ test_plan.pk }}">
						<label>Component ID:</label>
						<input type="text" name="component" />
						<input type="submit" name="a" value="add" />
						<input type="submit" name="a" value="remove" />
						<input type="submit" name="a" value="update" />
					</form>
					{% endcomment %}
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</form>
