{% if test_case_runs %}
		<table class="list" id="id_table_cases" cellspacing="0" cellspan="0">
			<thead>
				<tr>
					<th width="20">
						<a id="id_blind_all_link" href="javascript:blinddownAllCases()"  title="Expand all cases">
							<img id="id_blind_all_img" src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="">
						</a>
					</th>
					<th width="90">Case Run ID</th>
					<th width="50">Run ID</th>
					<th>Summary</th>
					<th width="80">Tester</th>
					<th width="150">Last Modified</th>
					<th width="100">Category</th>
					<th width="80">Priority</th>
					<th width="120"> Text Version</th>
					<th width="100">Status</th>
					<th width="40">Sort</th>
				</tr>
			</thead>
			<tbody>
				{% for test_case_run in test_case_runs %}
				<tr id="id_tr_case_{{ forloop.counter }}" class="{% cycle 'odd' 'even' %}" onclick="toggleTestCaseContents('{{ forloop.counter }}', '{{ test_case_run.case_text_version }}', '{{ test_case_run.case_run_id }}')">
					<td valign="middle" title="expand test case">
						<img id="blind_icon_{{ forloop.counter }}" class="up" src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="" />
						<input type="hidden" name="case" value="{{ test_case_run.case_id }}" />
					</td>
					<td>
						<a href="{% url tcms.testcases.views.get test_case_run.case_id %}?from_plan={{ test_case_run.run.plan_id }}">{{ test_case_run.case_run_id }}</a>
					</td>
					<td>
						<a href="{% url tcms.testruns.views.get test_case_run.run_id %}">{{ test_case_run.run_id }}</a>
					</td>
					<td >
						<a id="link_{{ forloop.counter }}" href="#caserun_{{ test_case_run.case_run_id }}" title="Expand test case">{{ test_case_run.run.summary }}</a>
					</td>
					<td>
						<a href="mailto:{{ test_case_run.assignee.email }}" title="Send email to {{ test_case_run.assignee.email }}">{{ test_case_run.assignee }}</a>
					</td>
					<td>{{ test_case_run.close_date }}</td>
					<td>{{ test_case_run.case.category }}</td>
					<td>{{ test_case_run.case.priority.value }}</td>
					<td>{{ test_case_run.case_text_version }}</td>
					<td>
						<img src="{{ MEDIA_URL }}/images/{{ test_case_run.case_run_status.name|lower }}.png" sborder="0" alt="" />
						<label>{{ test_case_run.case_run_status.name|upper }}</label>
					</td>
					<td >
						<span class="mark">
							<a href="#" onclick="changeCaseRunOrder('{{ test_case_run.run_id }}', '{{ test_case_run.case_run_id }}', '{{ test_case_run.sortkey }}')">{{ test_case_run.sortkey }}</a>
						</span>
					</td>
				</tr>
				<tr id="hidenRow_{{ forloop.counter }}"  style="display: none;"  class="hide">
					<td id="id_case_text_{{ forloop.counter }}" class="left_panel" colspan="11">
						<div class="ajax_loading"></div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% else %}
<div class="list">
	<span class="prompt-message"><center>No test cases</center></span>
</div>
{% endif %}