{% if test_case_runs %}
<table class="list" id="id_table_cases" cellspacing="0" cellspan="0">
	<thead>
		<tr>
			<th width="90">Case Run ID</th>
			<th width="50">Run ID</th>
			<th>Summary</th>
			<th width="80">Tester</th>
			<th width="150">Last Modified</th>
			<th width="100">Category</th>
			<th width="80">Priority</th>
			<th width="120"> Text Version</th>
			<th width="100">Status</th>
			<th width="40">Sort</th>
		</tr>
	</thead>
	<tbody>
		{% for test_case_run in test_case_runs %}
		<tr id="id_tr_case_{{ forloop.counter }}" class="{% cycle 'odd' 'even' %}">
			<td>
				<a href="{% url tcms.testcases.views.get test_case_run.case_id %}?from_plan={{ test_case_run.run.plan_id }}">{{ test_case_run.case_run_id }}</a>
			</td>
			<td>
				<a href="{% url tcms.testruns.views.get test_case_run.run_id %}">{{ test_case_run.run_id }}</a>
			</td>
			<td >
				<a id="link_{{ forloop.counter }}" href="{% url tcms.testruns.views.get test_case_run.run_id %}#caserun_{{ test_case_run.case_run_id }}" >{{ test_case_run.run.summary }}</a>
			</td>
			<td>
				<a href="mailto:{{ test_case_run.assignee.email }}" title="Send email to {{ test_case_run.assignee.email }}">{{ test_case_run.assignee }}</a>
			</td>
			<td>{{ test_case_run.close_date }}</td>
			<td>{{ test_case_run.case.category }}</td>
			<td>{{ test_case_run.case.priority.value }}</td>
			<td>{{ test_case_run.case_text_version }}</td>
			<td>
				<img src="{{ MEDIA_URL }}/images/{{ test_case_run.case_run_status.name|lower }}.png" sborder="0" alt="" />
				<label>{{ test_case_run.case_run_status.name|upper }}</label>
			</td>
			<td >
				<span class="mark">
					<a href="#" onclick="changeCaseRunOrder('{{ test_case_run.run_id }}', '{{ test_case_run.case_run_id }}', '{{ test_case_run.sortkey }}')">{{ test_case_run.sortkey }}</a>
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="list">
	<span class="prompt-message"><center>No test cases</center></span>
</div>
{% endif %}