{% extends "tcms_base.html" %}

{% load pagination_tags %}

{% block subtitle %}Test runs{% endblock %}

{% block custom_stylesheet %}
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/fastinit.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/tablekit.js"></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/testrun_actions.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/management_actions.js'></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>
{% endblock %}

{% block contents %}


<div id="content">
	<div class="sprites crumble">
		<a href="{% url tcms.core.views.index %}">Home</a>
		{% if query_result %}
		>> <a href="{% url tcms.testruns.views.all %}">Test Runs</a> >> Search result
		{% else %}
		>> Test Runs
		{% endif %}
	</div>
	<form action="{% url tcms.testruns.views.all %}" method="get">
		<div id="itemSearch" class="itemSearch">
			<input type="hidden" name="action" value="search" />
			<div>
				<h2>Search Run</h2>
				{% include 'run/form/search.html' %}
			</div>
			{% comment %}
			<div>
				<div class="relativeSearchTitle">Case Information Option<div class="down" id="relativeSearchOption_case"></div></div>
				<div class="relativeSearchBox" style="display:none" id="relativeSearch_case">
					{% include 'run/form/search_case.html' %}
					<div class="clear"></div>
				</div>
			</div>
			{% endcomment %}
			<div class="bottom">
				<input type="submit" size="7" value="Search" />
				<input type="reset" size="7"  value="Reset" />
				<span class="right-action">
					<a href="?summary=&plan=&product_id=&env_group_id=&manager=&status=" class="viewall">View All Runs</a>
				</span>
			</div>
			<div class="clear"></div>
		</div>
	</form>
	<form id='runs_form'>
	{% if test_runs %}
	{% autopaginate test_runs %}
	<div id="contentTab" class="mixbar">
		{# <span class="tit">{{ test_runs.count }} Test Runs</span> #}
		<span class="tit"><a href="{% url tcms.testruns.views.all %}?case_run__assignee__email__startswith={{ user.email }}">View My Assigned Runs</a></span>
		<input type="button" value="Clone" title="clone selected test runs" onclick="postToURL('{% url tcms.testruns.views.clone %}', this.form.serialize(true), 'get')" />
		
		<span class="right-action">
			{% paginate %}
			{% comment %}
			<label for="run_column_add">Add Column</label>
			<select id="run_column_add">
				<option value="" id="">---</option>
				<option value="col_plan" id="col_plan_option">Plan</option>
			</select>
			{% endcomment %}
		</span>
	</div>
	<table id="testruns_table" class="list border-bottom" cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr >
				<th class="nosort" width="30"><input id='id_check_all_runs' type="checkbox" title="Select all/Select none" /></th>
				<th class="number sortasc" width="40">#</th>
				<th class="text">Summary</th>
				<th class="text" width="80">Manager</th>
				<th class="text" width="100">Default Tester</th>
				<th class="text" style="display:none" id="col_plan_head" >Plan</th>
				<th class="text" width="130">Product</th>
				<th class="sortable" width="120">Product version</th>
				<th class="text" width="100" title='Plan Environment Group'>Environment</th>
				<th class="number" width="40">Cases</th>
				<th class="text" width="80">Status</th>
				<th class="number" width="110">Completed</th>
			</tr>
		</thead>
		<tbody>
			{% for test_run in test_runs %}
			<tr class="{% cycle 'rowodd' 'roweven' %}">
				<td><input type='checkbox' name="run" value="{{ test_run.pk }}" /></td>
				<td><a href="{% url tcms.testruns.views.get test_run.run_id %}" />{{ test_run.run_id }}</a></td>
				<td><a href="{% url tcms.testruns.views.get test_run.run_id %}" />{{ test_run.summary|striptags }}</a></td>
				<td><a href="{% url tcms.profiles.views.profile test_run.manager.username %}">{{ test_run.manager }}</a></td>
				<td>{% if test_run.default_tester_id %}<a href="{% url tcms.profiles.views.profile test_run.default_tester.username %}">{% endif %}{{ test_run.default_tester }}{% if test_run.default_tester_id %}</a>{% endif %}</td>
				<td style="display:none" class="col_plan_content"><a href="{% url tcms.testplans.views.get test_run.plan_id %}" >{{ test_run.plan }}</a></td>
				<td>{{ test_run.build.product }}</td>
				<td>{{ test_run.product_version }}</td>
				<td>{{ test_run.env_groups }}</td>
				<td>{{ test_run.total_num_caseruns }}</td>
				<td>
					{% if test_run.stop_date %}
					<span class="pauselink">Finished</span>
					{% else %}
					<span class="runninglink">Running</span>
					{% endif %}
				</td>
				<td>
					<div class="progress-bar">
						<div class="progress-inner" style="width:{{ test_run.completed_case_run_percent|default:"0" }}px;  margin-right:-50px;text-align:cente">
							<a href="#" title="faild:{{ test_run.failed_case_run_percent|default:"0" }}%">
								<div class="progress-failed" style="width:{{ test_run.failed_case_run_percent|default:"0" }}px;">
									&nbsp;
								</div>
							</a>
						</div>
						<div class="percent">{{ test_run.completed_case_run_percent|default:"0" }}%</div>
					</div>
				</td>
				{% comment %}
				<td>
					{% if perms.testruns.change_testcaserun %}
					<a class="golink" href="/run/{{ test_run.run_id}}/execute/">Execute</a>
					{% else %}
					None
					{% endif %}
				</td>
				{% endcomment %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% paginate %}
	
	{% else %}
	{% if query_result %}
	<span class="prompt-message"><center>No test runs found</center></span>
	{% endif %}
	</form>
	{% endif %}
</div>
{% endblock %}
