{% extends "tcms_base.html" %}

{% load pagination_tags %}

{% block subtitle %}Test runs{% endblock %}

{% block custom_stylesheet %}
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/fastinit.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/lib/tablekit/tablekit.js"></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/testrun_actions.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}/js/management_actions.js'></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>
{% endblock %}

{% block contents %}


<div id="content">
	<div class="sprites crumble">
		<a href="{% url tcms.core.views.index %}">Home</a>
		{% if query_result %}
		>> <a href="{% url tcms.testruns.views.all %}">Test Runs</a> >> Search result
		{% else %}
		>> Test Runs
		{% endif %}
	</div>
	<form action="{% url tcms.testruns.views.all %}" method="get">
		<div id="itemSearch" class="itemSearch">
			<input type="hidden" name="action" value="search" />
			<div>
				<h2>Search Run</h2>
				{% include 'run/form/search.html' %}
			</div>
			{% comment %}
			<div>
				<div class="relativeSearchTitle">Case Information Option<div class="down" id="relativeSearchOption_case"></div></div>
				<div class="relativeSearchBox" style="display:none" id="relativeSearch_case">
					{% include 'run/form/search_case.html' %}
					<div class="clear"></div>
				</div>
			</div>
			{% endcomment %}
			<div class="bottom">
				<input type="submit" size="7" value="Search" class="left_float" />
				<input type="reset" size="7"  value="Reset" class="left_float" />
				<div class="allSearch">
					<a href="?summary=&plan=&product_id=&env_group_id=&manager=&status=">View All Runs</a><span>|</span><a href="/advance-search/">Advanced Search</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</form>
	<form id='runs_form'>
	{% if test_runs %}
	{% autopaginate test_runs %}
	<div id="contentTab" class="mixbar">
		{# <span class="tit">{{ test_runs.count }} Test Runs</span> #}
		<span class="tit"><a href="{% url tcms.testruns.views.all %}?case_run__assignee={{ user.email }}">View My Assigned Runs</a></span>
		<input type="button" value="Clone" title="clone selected test runs" onclick="postToURL('{% url tcms.testruns.views.clone %}', this.form.serialize(true), 'get')" />
		
		<span class="right-action">
			{% paginate %}
			{% comment %}
			<label for="run_column_add">Add Column</label>
			<select id="run_column_add">
				<option value="" id="">---</option>
				<option value="col_plan" id="col_plan_option">Plan</option>
			</select>
			{% endcomment %}
		</span>
	</div>
	{% include "run/common/run_filtered.html" %}
	{% paginate %}
	
	{% else %}
	{% if query_result %}
	<span class="prompt-message"><center>No test runs found</center></span>
	{% endif %}
	</form>
	{% endif %}
</div>
{% endblock %}
