<table class="list" id="id_table_cases" cellspacing="0" cellspan="0">
	<thead>
		<tr>
			<th width="20">
				<input id="id_check_all_button" type="checkbox" title="Select all cases/Select none case" />
			</th>
			<th width="18">
				<a id="id_blind_all_link" title="Expand all cases">
					<img id="id_blind_all_img" src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="" class="collapse-all">
				</a>
			</th>
			{% comment %}
			<th width="90"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'pk')">Case Run ID</a></th>
			<th width="60"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'case__pk')">Case ID</a></th>
			<th><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'case__summary')">Summary</a></th>
			<th width="80"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'tested_by__username')">Tester</a></th>
			<th width="80"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'assignee__username')">Assignee</a></th>
			<th width="100"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'),'case__category__name')">Category</a></th>
			<th width="60"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'case__priority__value')">Priority</a></th>
			<th width="40">Bugs</th>
			<th width="50" style='text-align:center'><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'case_run_status__name')">Status</a></th>
			<th width="40"><a href="javascript:void(0)" onclick="sortCaseRun($('id_filter'), 'sortkey')">Sort</a></th>
			{% endcomment %}
			<th width="90">Case Run ID</th>
			<th width="60">Case ID</th>
			<th>Summary</th>
			<th width="80">Tester</th>
			<th width="80">Assignee</th>
			<th width="100">Category</th>
			<th width="60">Priority</th>
			<th width="40">Bugs</th>
			<th width="50" style='text-align:center'>Status</th>
			<th width="40">Sort</th>
		</tr>
	</thead>
	<tbody>
		{% for test_case_run in test_case_runs %}
		<tr class="{% cycle 'odd' 'even' %} {% if test_case_run.is_current %}is_current run_current{% endif %} {% ifequal test_case_run.assignee user%} mine {%endifequal%}">
			<td>
				<input type="checkbox" name="case_run" value="{{ test_case_run.pk }}" title="Select/Unselect" />
				<input type="hidden" name="case" value="{{ test_case_run.case.pk }}" />
				<input type="hidden" name="case_text_version" value="{{ test_case_run.case_text_version }}" />
			</td>
			<td title="expand test case" class="expandable vmiddle case_title">
				<img class="blind_icon expand" src="{{ MEDIA_URL }}/images/t1.gif" border="0" alt="" />
			</td>
			<td class="case_title expandable">
				<a href="#caserun_{{ test_case_run.pk }}">#{{ test_case_run.pk }}</a>
			</td>
			<td "{{ test_case_run.case_id }}" class="case_title expandable">
				<a href="{% url tcms.testcases.views.get test_case_run.case_id %}?from_plan={{ test_case_run.run.plan_id }}">{{ test_case_run.case_id }}</a>
			</td>
			
			<td class="expandable">
				<a id="link_{{ forloop.counter }}" href="#caserun_{{ test_case_run.pk }}" title="Expand test case">{{ test_case_run.case.summary }}</a>
			</td>
			<td>
				{% if test_case_run.tested_by_id %}
				<a href="{% url tcms.profiles.views.profile test_case_run.tested_by.username %}" class="link_tested_by">{{ test_case_run.tested_by }}</a>
				{% else %}
				<a class="link_tested_by">None</a>
				{% endif %}
			</td>
			<td>
				{% if test_case_run.assignee_id %}
				<a href="{% url tcms.profiles.views.profile test_case_run.assignee.username %}" class="link_assignee">{{ test_case_run.assignee }}</a>
				{% else %}
				None
				{% endif %}
			</td>
			<td class="expandable">{{ test_case_run.case.category }}</td>
			<td class="expandable">{{ test_case_run.case.priority }}</td>
			<td class="expandable"><span {% if test_case_run.num_bug %}class="have_bug"{% endif %}>{{ test_case_run.num_bug }}</span></td>
			<td class="expandable center">
				<img border="0" alt="" class="icon_status btn_{{ test_case_run.case_run_status.name.lower }}" />
			</td>
			<td class="expandable">
				<span class="mark">
					<a href="#" onclick="changeCaseRunOrder('{{ test_case_run.run_id }}', '{{ test_case_run.pk }}', '{{ test_case_run.sortkey }}')">{{ test_case_run.sortkey }}</a>
				</span>
			</td>
		</tr>
		<tr class="case_content hide" style="display: none;">
			<td id="id_loading_{{ test_case_run.case_id }}" class="left_panel" colspan="12">
				<div class="ajax_loading"></div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="12" align="center">No case run found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>